Assets/Tripo/ancienthouse.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Tripo/scifihouse.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Art/HDRI/KirbyCoveWhiteBalanced.exr filter=lfs diff=lfs merge=lfs -text
